{% extends 'core/main.html' %}
{% load static %}
{% load i18n %}

<!-- Page Title-->
{% block title %}
  {% translate "Coupe du département Informatique" %} &dash; {% translate "Equipes" %}
{% endblock title %}

<!-- Page Body-->
{% block body %}

<div class="hero overlay" style="background-image: url('../../static/images/bg_1.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="text-white">{% translate "Equipe" %}<span style="color: #ee1e46;">s</span></h1>
        <p>
          {% translate "Vous avez ici à votre disposition la liste complète des équipes et des joueurs des différents niveux qui participent à la coupe du département informatique." %}
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-12 title-section">
      <h2 class="heading">{% translate "Equipes" %}</h2>
    </div>

   
    {% for team in  teams %}
    <div class="col-lg-6 mb-4">
      <div class="bg-light p-4 rounded">
        <div class="widget-body">
            <div class="widget-vs">
              <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                  <img src="{{team.logo.url}}" alt="Image">
                  <h3 class="text-capitalize">{{team.name}}</h3>
                  
                </div>
              </div>
              <br>
              <!--h3 class="text-muted">{% translate "Titulaires" %}</h3>
              <div class="d-flex">

                {% comment %} for loop sur le bloc ci dessous pour afficher les titulaires {% endcomment %}
                
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3 d-flex">
                    <img src=" {% static 'images/person_1.jpg' %} " alt="" title="">
                  </div>
                </div>

              </div>

              <br>

              <h3 class="text-muted">{% translate "Remplaçants" %}</h3>
              <div class="d-flex">

                {% comment %} for loop sur le bloc ci dessous pour afficher les remplacants {% endcomment %}
                <div class="author d-flex align-items-center">
                  <div class="img mb-2 mr-3 d-flex">
                    <img src=" {% static 'images/person_1.jpg' %} " alt="" title="">
                  </div>
                </div>

              </div!-->
            </div>
          </div>

          <div class="text-center widget-vs-contents mb-4">
            <h4 class="text-capitalize">{% translate "Statisqtiques de l'équipe" %}</h4>
            <div class="d-flex">
              <p class="mb-5 text-left">
                <span class="d-block"><i class="bi bi-people-fill" style="font-size: 18pt; color: #e93a5d;"></i> {{team.get_num_players}} {% translate "joueurs enregistrés" %}</span>
                <span class="d-block"><i class="bi bi-balloon-fill" style="font-size: 18pt; color: #e93a5d;"></i> {{team.get_num_scored_goals}} {% translate "buts inscris" %}</span>
                <span class="d-block"><i class="bi bi-calendar2-check-fill" style="font-size: 18pt; color: #e93a5d;"></i> {{team.get_num_played_matchs}} {% translate "matchs joués" %}</span>
             </p>
             <div class="w-25"></div>
             <p class="mb-5 text-left">
              <span class="d-block"><i class="bi bi-table" style="font-size: 14pt; color: #e93a5d;"></i> {{team.get_rang}} | {{team.poule.name}} </span>
               <span class="d-block"><i class="bi bi-file-fill" style="font-size: 18pt; color: #fffb00;"></i> {{team.yellow_cart}} {% translate "cartons jaunes" %}</span>
                <span class="d-block"><i class="bi bi-file-fill" style="font-size: 18pt; color: #ff0000;"></i> {{team.red_cart}} {% translate "cartons rouges" %}</span>
             </p>
            </div>
          </div>
        
      </div>
    </div>
  {% endfor %}
   
    
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading text-capitalize">{% translate "Meilleur joueurs" %}</h2>
      </div>
      <div class="col-6 text-right">
        <div class="custom-nav">
        <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
        <span></span>
        <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
        </div>
      </div>
    </div>


    <div class="owl-4-slider owl-carousel">
      {% for player in top_players %}
        <div class="item">
          <div class="video-media">
            <img src=" {{player.photo.url}} " alt="Image" class="img-fluid">
            <a href="" class="d-flex play-button align-items-center" data-fancybox>
              <span class="icon mr-3">
                <span class="icon-play"></span>
              </span>
              <div class="caption">
                <h3 class="m-0">{{player.name|title}}</h3>
              </div>
            </a>
          </div>
        </div>
       {% endfor %}
      

    </div>

  </div>
</div>


{% comment %} <div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Blog</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src=" {% static 'images/img_1.jpg' %} " alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <span class="meta">May 20, 2020</span>
          <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
          <p><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src=" {% static 'images/img_3.jpg' %} " alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <span class="meta">May 20, 2020</span>
          <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
          <p><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock body %}