asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cmarkgfm==0.8.0
Django==4.0.3
django-environ==0.8.1
django-gunicorn==0.1.1
django-rosetta==0.9.8
django-tuieditor==0.2.0
gunicorn==20.1.0
idna==3.3
Pillow==9.0.1
polib==1.1.1
pycparser==2.21
requests==2.27.1
sqlparse==0.4.2
urllib3==1.26.9
yapf==0.32.0
