{% extends 'main.html' %}
{% load static %}

<!-- Block Title -->
{% block title %}
Coupe du département Info &dash; Gallerie
{% endblock title %}

<!-- Page Body -->
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url('../../static/images/gallery-bg.webp');">
    <div class="hero-container" data-aos="fade-in">
      <h1>Captiver l'instant | Gallerie</h1>
      <small>We gave it a try, and we made it come true.</small>
      <br>
      <small>Un condensé de souvenirs...</small>
    </div>
   </section>
  <!-- End Hero -->

    <main id="main">
      <!-- ======= Portfolio Section ======= -->
      <br>
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Flyer</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src=" {% static 'images/img_1.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'images/img_1.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="Image shooted"><i class="bi bi-eye"></i></a>
                <a href=" {% static 'images/img_1.jpg' %} " title="Download" download=""><i class="bi bi-download"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src=" {% static 'images/img_1.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'images/img_1.jpg' %} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="{% lorem 1 %}"><i class="bi bi-eye"></i></a>
                <a href=" {% static 'images/img_1.jpg' %} " title="Download"><i class="bi bi-download"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src=" {% static 'images/img_1.jpg' %} " class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href=" {% static 'images/img_1.jpg' %} " data-galler="portfolioGallery" class="portfolio-lightbox" title="{% lorem 1 %}"><i class="bi bi-eye"></i></a>
                <a href=" {% static 'images/img_1.jpg' %} " title="Download"><i class="bi bi-download"></i></a>
              </div>
            </div>
          </div>

      </div>
    </section>
    <!-- End Portfolio Section -->
{% endblock body %}