{% extends 'core/main.html' %}

<!-- load some element -->
{% load static %}
{% load i18n %}
{% load gfm%}

<!-- Title of home the page-->
{% block title %}
  {% translate "Coupe du département Informatique" %} &dash; {% translate "Accueil" %}
{% endblock title %}


<!-- Body of the home page-->
{% block body %}
<div class="hero overlay" style="background-image: url('../../static/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 ml-auto mt-5 mt-lg-0 pt-5 pt-lg-0">
        <h1 class="text-white">Coupe du Département <span style="color: #ee1e46;">Info</span><span style="color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #fff;">rmatique</span></h1>
        <p>
          {% translate "Ce n'est pas toujours une affaire de machines. On s'y connait aussi au foot." %}
        </p>
        <p>
         Prochain match dans ...
        </p>
        <div id="dateCount" style="display: none;">{{next_match.match.date_to_play|date:"SHORT_DATE_FORMAT"}}</div>
        <div id="date-countdown"></div>
        <p>
         
        </p>
        <p>
          <a href="#latest-news" class="btn btn-primary py-3 px-4 mr-3">{% translate "Découverte" %}</a>
          <a href="{% url 'tournoi:match' %}" class="btn btn-outline-primary py-3 px-4 mr-3 more light" style="border: 3px solid #ee1e46">{% translate "Statistiques" %}</a>
        </p>  
      </div>
    </div>
  </div>
</div>



<div class="container">
  

  <div class="row">
    <div class="col-lg-12">
      {% if last_match %}
      <div class="d-flex team-vs">
        <span class="score">{{ last_match.match.goal_team1}} : {{ last_match.match.goal_team2 }}</span>
        <div class="team-1 w-50">
          <div class="team-details w-100 text-center">
            <img src=" {{last_match.team1.logo.url}} " alt="Image" class="img-fluid">
            <h3 class="text-uppercase">{{last_match.team1.name}} {% if last_match.match.winner == last_match.team1 %} <small style="color: #ee1e46; font-weight: 600;">({% translate "victoire" %})</small> <i class="bi bi-hand-thumbs-up-fill"></i>
              {% elif  last_match.macth.winner == last_match.team2 %}<small style="color: #000; font-weight: 600;">({% translate "défaite" %})</small>{% endif %} </h3>
            <ul class="list-unstyled">

            </ul>
          </div>
        </div>
        <div class="team-2 w-50">
          <div class="team-details w-100 text-center">
            <img src=" {{last_match.team2.logo.url}} " alt="Image" class="img-fluid">
            <h3 class="text-uppercase">{{last_match.team2.name}} {% if last.match.winner == last_match.team2 %} <small style="color: #ee1e46; font-weight: 600;">({% translate "victoire" %})</small> <i class="bi bi-hand-thumbs-up-fill"></i>
              {% elif  last_match.match.winner == last_match.team1 %}<small style="color: #000; font-weight: 600;">({% translate "défaite" %})</small>{% endif %}</h3>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>


<div class="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading" id="latest-news">{% translate "Actualités sur le championnat" %}</h2>
      </div>
    </div>
    <div class="row no-gutters">

      {% for new in news %}
      <div class="col-lg-4 mb-4">
        <div class="custom-media d-block">
          <div style="height: 60vh;">
            <a href="{% url 'core:post' new.title|slugify new.id%}">
              <img src="{{new.image.url}}" alt="Image" class="img-fluid" style="object-fit: cover; height: 100%; width: 100%;">
            </a>
          </div>
          <div class="text">
            <span class="meta">{{new.add_on|date:"D d M Y"}}</span>
            <h3 class="mb-4"><a href="{% url 'core:post' new.title|slugify new.id%}">{{new.title|title}}</a></h3>
            <p>{{new.description|gfm|slice:'165'}}...</p>
            <p><a href="{% url 'core:post' new.title|slugify new.id%}">Read more</a></p>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>

    </div>

  </div>
</div>

<div class="site-section bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="col-12 title-section">
          <h2 class="heading" id="latest-news">{% translate "Poule A" %}</h2>
        </div>
        <div class="widget-next-match">
          <table class="table custom-table">
            <thead>
              <tr>
                {% comment %} 
                  Normalement la traduction en anglais devrait aussi changer les lettres ci dessous comme suit.
                  Fr ------ En
                  R  =====> R
                  J  =====> P
                  V  =====> W
                  N  =====> D
                  D  =====> L
                  PTS  =====> PTS
                {% endcomment %}

                <th>R</th>
                <th>{% translate "Équipe" %}</th>
                
                <th>V</th>
                <th>N</th>
                <th>D</th>
                <th>PTS</th>
              </tr>
            </thead>
            <tbody>
              {% for elt in classement_A %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><strong class="text-white">{{elt.abreviation}}</strong></td>
                  
                  <td>{{elt.victory}}</td>
                  <td>{{elt.defeat}}</td>
                  <td>{{elt.null}}</td>
                  <td>{{elt.points}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="col-12 title-section">
          <h2 class="heading" id="latest-news">{% translate "Poule B" %}</h2>
        </div>
        <div class="widget-next-match">
          <table class="table custom-table">
            <thead>
              <tr>
                {% comment %} 
                  Normalement la traduction en anglais devrait aussi changer les lettres ci dessous comme suit.
                  Fr ------ En
                  R  =====> R
                  J  =====> P
                  V  =====> W
                  N  =====> D
                  D  =====> L
                  PTS  =====> PTS
                {% endcomment %}

                <th>R</th>
                <th>{% translate "Équipe" %}</th>
                
                <th>V</th>
                <th>N</th>
                <th>D</th>
                <th>PTS</th>
              </tr>
            </thead>
            <tbody>
              {% for elt in classement_B %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><strong class="text-white">{{elt.abreviation}}</strong></td>
                  
                  <td>{{elt.victory}}</td>
                  <td>{{elt.defeat}}</td>
                  <td>{{elt.null}}</td>
                  <td>{{elt.points}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-next-match">
          <div class="widget-title">
            <h3 class="text-capitalize">{% translate "Prochain Match" %}</h3>
          </div>
          <div class="widget-body mb-3">
            <div class="widget-vs">
              <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                  <img src=" {{next_match.team1.logo.url}} " alt="{{next_match.team1.name}}">
                  <h3 class="text-capitalize">{{next_match.team1.name}}</h3>
                </div>
                <div>
                  <span class="vs"><span>VS</span></span>
                </div>
                <div class="team-2 text-center">
                  <img src=" {{next_match.team2.logo.url}} " alt="{{next_match.team2.name}}">
                  <h3 class="text-capitalize">{{next_match.team2.name}}</h3>
                </div>
              </div>
            </div>
          </div>
  
          <div class="text-center widget-vs-contents mb-4">
            <h4 class="text-capitalize">{{next_match.match.title|title|default_if_none:'Coupe du département'}}</h4>
            <p class="mb-5">
              <span class="d-block">{{ next_match.match.date_to_play }}</span>
              <!-- span class="d-block">15:30 (GMT+1)</span   !-->
              <strong class="text-primary">{{next_match.match.stade_name|title}}</strong>
            </p>
  
            <small>{% translate "Prochain match dans:" %}</small>
            <div id="dateCount2" style="display: none;">{{next_match.match.date_to_play|date:"SHORT_DATE_FORMAT"}}</div>
            <div id="date-countdown2" class="pb-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .site-section -->

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading text-capitalize">{% translate "Meilleur Joueurs" %}</h2>
      </div>
      <div class="col-6 text-right">
        <div class="custom-nav">
        <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
        <span></span>
        <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
        </div>
      </div>
    </div>


    <div class="owl-4-slider owl-carousel" id='top_players'>
      {% for player in top_players %}
        <div class="item">
          <div class="video-media">
            <img src=" {{player.photo.url}} " alt="Image" class="img-fluid">
            <a href="{{player.photo.url}}" class="d-flex play-button align-items-center" data-fancybox>
              <span class="icon mr-3">
                <span >{{player.dossard}}</span>
              </span>
              <div class="caption">
                <h3 class="m-0">{{player.name|title}}</h3>
              </div>
            </a>
          </div>
        </div>
       {% endfor %}
      

    </div>

  </div>
</div>

{% comment %} <div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Blog</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src=" {% static 'images/img_1.jpg' %} " alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <span class="meta">May 20, 2020</span>
          <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
          <p><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src=" {% static 'images/img_3.jpg' %} " alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <span class="meta">May 20, 2020</span>
          <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
          <p><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock body %}