{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>
      {% block title %}{% endblock title %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href=" {% static 'fonts/icomoon/style.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/bootstrap/bootstrap.css' %} ">
  <link rel="stylesheet" href=" {% static 'css/jquery-ui.css' %} ">
  <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
  <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">
  <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/jquery.fancybox.min.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">

  <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/aos.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/style.css' %} ">



</head>
<body>

    <div class = "site-wrap">
        <!-- Header-->
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
              </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        
        
        <header class="site-navbar py-4" role="banner">
    
        <div class="container-fluid">
            <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="{% if request.resolver_match.view_name == 'tournoi:home' %} # {% else %} {% url 'tournoi:home' %} {% endif %}">
                <img src=" {% static 'images/logo_coupe.png' %} " class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="ml-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="{% if request.resolver_match.view_name == 'tournoi:home' %} active {% endif %}"><a href="{% url 'tournoi:home' %}" class="nav-link"><i class="bi bi-house-door-fill"></i> {% translate "Accueil" %} </a></li>
                    <li class="{% if request.resolver_match.view_name == 'tournoi:match' %} active {% endif %}"><a href="{% url 'tournoi:match' %}" class="nav-link"><i class="bi bi-calendar-event-fill"></i> {% translate "Matchs" %} </a></li>
                    <li class="{% if request.resolver_match.view_name == 'tournoi:team' %} active {% endif %}"><a href="{% url 'tournoi:team' %}" class="nav-link"><i class="bi bi-people-fill"></i> {% translate "Equipes" %} </a></li>
                    <li class="{% if request.resolver_match.view_name == 'core:blog' %} active {% endif %}"><a href="{% url 'core:blog' %}" class="nav-link"><i class="bi bi-newspaper"></i> {% translate "Blog" %}</a></li>
                    <li class="{% if request.resolver_match.view_name == 'core:contact' %} active {% endif %}"><a href="{% url 'core:contact' %}" class="nav-link"><i class="bi bi-headset"></i> {% translate "Contacts" %} </a></li>
                    <li class="{% if request.resolver_match.view_name == 'core:gallery' %} active {% endif %}"><a href="{% url 'core:gallery' %}" class="nav-link"><i class="bi bi-images"></i> {% translate "Gallerie" %} </a></li>
                    <li class="{% if request.resolver_match.view_name == 'core:contributors' %} active {% endif %}"><a href="{% url 'core:contributors' %}" class="nav-link"><i class="bi bi-github"></i> {% translate "Contributors" %} </a></li>
                    
                    <li class=""><a href="" class="nav-link btn btn-primary"><i class="bi bi-globe"></i> Fr</a></li>
                </ul>
                </nav>
    
                <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                    class="icon-menu h3 text-white"></span></a>
            </div>
            </div>
        </div>
    
        </header>
    
        {% block body %}
        
        {% endblock body %}

        <!-- Footer -->
        <footer class="footer-section">
            <div class="container">
              <div class="row">
                
                <div class="col-lg-3">
                  <div class="widget mb-3">
                    <img src="{% static 'images/logo_comsas.png' %}" alt="logo comsas">
                    <h6><span class="font-weight-bold">C</span>omputer <span class="font-weight-bold">S</span>cience <span class="font-weight-bold">As</span>sociation</h6>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="widget mb-3">
                    <h3>Briefing</h3>
                    <p class="text-justify">
                      {% translate "Pour la coupe du département, le COM.S.AS, 
                      Computer Science Association, prend sur elle l'organisation de ce 
                      championnat et met à votre disposition ce site pour que vous soyez 
                      à jour avec le déroulement de celle-ci." %}
                    </p>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="widget mb-3">
                    <h3>Liens Rapides</h3>
                    <ul class="list-unstyled links">
                      <li><a href="{% if request.resolver_match.view_name == 'tournoi:home' %} # {% else %} {% url 'tournoi:home' %} {% endif %}"><i class="bi bi-house-door-fill"></i>  {% translate "Accueil" %} </a></li>
                      <li><a href="{% if request.resolver_match.view_name == 'tournoi:match' %} # {% else %} {% url 'tournoi:match' %} {% endif %}"><i class="bi bi-calendar-event-fill"></i>  {% translate "Matchs" %} </a></li>
                      <li><a href="{% if request.resolver_match.view_name == 'tournoi:team' %} # {% else %} {% url 'tournoi:team' %} {% endif %}"><i class="bi bi-people-fill"></i>  {% translate "Equipes" %} </a></li>
                      <li><a href="{% if request.resolver_match.view_name == 'core:contact' %} # {% else %} {% url 'core:contact' %} {% endif %}"><i class="bi bi-headset"></i>  {% translate "Contacts" %} </a></li>
                      <li><a href="{% if request.resolver_match.view_name == 'core:gallery' %} # {% else %} {% url 'core:gallery' %} {% endif %}"><i class="bi bi-images"></i>  {% translate "Gallerie" %} </a></li>
                      <li><a href="{% if request.resolver_match.view_name == 'core:contributors' %} # {% else %} {% url 'core:contributors' %} {% endif %}"><i class="bi bi-github"></i>  {% translate "Contributeurs" %} </a></li>
                    </ul>
                  </div>
                </div>
          
                <div class="col-lg-3">
                  <div class="widget mb-3">
                    <h3>Social</h3>
                    <ul class="list-unstyled links">
                      <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                      <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
                      <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                      <li><a href="#"><i class="bi bi-youtube"></i> Youtube</a></li>
                    </ul>
                  </div>
                </div>
          
              </div>
          
              <div class="row text-center">
                <div class="col-md-12">
                  <div class=" pt-5">
                    <p>
                      Copyrights &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script> 
                      {% translate "Tous droits reservés" %} | The Computer Science Association - COM.S.AS
                    </p>
                  </div>
                </div>
          
              </div>
            </div>
        </footer>

        <!-- JS files -->
        <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
        <script src=" {% static 'js/jquery-migrate-3.0.1.min.js' %} "></script>
        <script src=" {% static 'js/jquery-ui.js' %} "></script>
        <script src=" {% static 'js/popper.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.min.js' %} "></script>
        <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
        <script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
        <script src=" {% static 'js/jquery.countdown.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap-datepicker.min.js' %} "></script>
        <script src=" {% static 'js/jquery.easing.1.3.js' %} "></script>
        <script src=" {% static 'js/aos.js' %} "></script>
        <script src=" {% static 'js/jquery.fancybox.min.js' %} "></script>
        <script src=" {% static 'js/jquery.sticky.js' %} "></script>
        <script src=" {% static 'js/jquery.mb.YTPlayer.min.js' %} "></script>


    <script src=" {% static 'js/main.js' %} "></script>
    </div>
</body>
</html>