{% extends 'main.html' %}
{% load static %}
{% load i18n %}


<!-- Block Title -->
{% block title %}
  {% translate "Coupe du département Informatique" %} &dash; {% translate "Gallerie" %}
{% endblock title %}

<!-- Page Body -->
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url('../../static/images/gallery-bg.webp');">
    <div class="hero-container" data-aos="fade-in">
      <h1>{% trans "Captivez l'instant | Gallerie" %}</h1>
      <small>{% translate "Nous l'avons fait et nous pouvons le témoigner." %}</small>
      <br>
      <small>{% translate "Un condensé de souvenirs..." %}</small>
    </div>
   </section>
  <!-- End Hero -->

    <main id="main">
      <!-- ======= Portfolio Section ======= -->
      <br>
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Flyer</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          {% comment %} Le bloc ci dessous sera a l'interieur du for loop, qui va afficher les images de differentes editions {% endcomment %}
          <div class="col-md-3">
            <img src=" {% static 'images/person_1.jpg' %} " class="img-fluid" alt="">
          </div>

          {% comment %}
            Puis apres l'affichage de l'element dont l'indice est multiple de 4 (ou 3 si l'on commence a compter a 0)
            on y insere un break tag (<br>)
          {% endcomment %}

        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->
{% endblock body %}